@{
    ViewData["Title"] = "Contact Us";
}
@*<h1>@ViewData["Title"]</h1>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="....">
    <link rel="stylesheet" href="~/css/siteHTML.css">
</head>
<body>

        <section class="content-holder">
            <!--content holder-->
            <article class="content">
                <!--content-->
                <main id="main_content">

                    <h1>Contact Company</h1>
                    <p>
                        Wait times may be longer than expected during the pandemic.
                        If you have any concerns you can reach us by email or phone number.
                        Thanks for your patient.
                    </p>
                    <p>
                        Email:mailto:admin@yahoo.com
                        <br>
                        Phone Number:514678954

                    </p>



                </main>

            </article><!--content-->

            <aside class="sidebar">
                <!--sidebar-->
                <div>
                    <h3>Related Links</h3>
                    <ul>
                        <li><a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?">News</a></li>
                        <li><a href="https://www.211qc.ca/en/health/covid-19">Emergency</a></li>
                        <li><a href="https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/testing-for-covid-19/">Covid-19 Centers</a></li>

                    </ul>

                </div>
            </aside><!--sidebar-->

            <div class="clear"></div>

        </section><!--content holder-->
    
</body>
</html>
