
@model Covid19.ViewModels.HomeDetailsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="....">
    <link rel="stylesheet" href="~/css/siteHTML.css">
</head>
<body>


        <section class="banner" , class="main-footer justify-content-md-center ">
            <!--banner bar-->
            <img src="~/Image/covid 2.jpg" height="600" width="700" alt="banner 2">
        </section>

        <section class="content-holder col-12">
            <!--content holder-->
            <article  class="col-12 content">
                <!--content-->
                <main class="col-12" id="main_content">

                    <h1 class="col-12" id="heading">How COVID-19 Spreads</h1>
                    <p  class="col-12" >
                        COVID-19 spreads from an infected person to others through respiratory droplets and aerosols
                        created when an infected person coughs, sneezes, sings, shouts, or talks. The droplets vary in size
                        from large droplets that fall to the ground rapidly (within seconds or minutes) near the infected person,
                        to smaller droplets, sometimes called aerosols,which linger in the air under some circumstances.
                        The relative infectiousness of droplets of different sizes is not clear.
                    </p>
                    <p  class="col-12" >
                        Infectious droplets or aerosols may come into direct contact with the mucous membranes of another person's
                        nose, mouth or eyes,or they may be inhaled into their nose, mouth, airways and lungs. The virus may also
                        spread when a person touches another person (i.e., a handshake) or a surface or an object (also referred to
                        as a fomite) that has the virus on it, and then touches their mouth, nose or eyes with unwashed hands.
                    </p>
                </main>

            </article><!--content-->

            <aside class="sidebar">
                <!--sidebar-->
                <div class="side">
                    <h3>Related Links</h3>
                    <ul>
                        <li><a href="https://www.worldometers.info/coronavirus/?utm_campaign=homeAdvegas1?">News</a></li>
                        <li><a href="https://www.211qc.ca/en/health/covid-19">Emergency</a></li>
                        <li><a href="https://www.quebec.ca/en/health/health-issues/a-z/2019-coronavirus/testing-for-covid-19/">Covid-19 Centers</a></li>

                    </ul>

                </div>
            </aside><!--sidebar-->

            <div class="clear"></div>

        </section><!--content holder-->
    
</body>
</html>